*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font: normal normal normal 10px/1.5 Arial, sans-serif;
}
body {
  font-size: 2rem;
  overflow-x: hidden;
}

.wrapper {
  margin-top: 8rem;
  padding: 1rem 4rem 3.2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1rem;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
  width: 100vw;
  background-color: #aaa;
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  text-align: center;
  background-color: rgb(21, 255, 0);
  color: white;
  font-size: 4rem;
  line-height: 8rem;
}
.add-button {
  padding: 0rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: palegoldenrod;
  color: red;
  font-weight: bolder;
  font-size: 4rem;
  cursor: pointer;

  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 1rem;
}
.add-button:hover {
  opacity: 0.5;
}
.add-button:active {
  background-color: red;
  color: palegoldenrod;
  opacity: 1;
}
.none {
  display: none !important;
}
.form-wrapper {
  background-color: rgb(68, 0, 255);
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  width: 100%;
  max-width: 36rem;
}
.form-wrapper h2 {
  color: white;
  font-size: 4rem;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  text-align: center;
}
.form-container {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.938);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.form-container * {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
input {
  margin: 1rem 0;
  padding: 1rem;
}
input[type="text"] {
  grid-column: 1/3;
  background-color: rgb(31, 29, 29);
}
input[type="number"] {
  grid-column: 1/2;
  background-color: rgb(31, 29, 29);
}
.inputs-container button {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.did-you-read {
  text-align: center;
  font-size: 1.6rem;
}
.switch {
  grid-row: 4/5;
  grid-column: 2/3;
  background-color: green;
  /* margin-left: 6rem; */
}
.add {
  background-color: green;
  position: relative;
}
.warn {
  color: red;
  font-size: 1rem;
  position: absolute;
  z-index: 100;
  bottom: -1.6rem;
  left: 4rem;
}
.cancel {
  background-color: red;
}
